
@{
    ViewBag.Title = "Upload data file";
}

<h2>Upload data file</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        Select the customers file(.csv)
        <input type="file" name="file" />
    </div>
    <br/>
    <input type="submit" name="Submit" id="Submit" value="Upload" />
    <br />
    <br />
    <br />


}